/* 
font-family: 'Poppins', sans-serif;
font-family: 'Raleway', sans-serif;
background-color: rgba(223, 227, 226, 0.308);
color: #7E8035; (olive-green)
color: #FE5F03; (orange)
color: #8AA0B8; (grey-blue)
color: #808080; (logo-grey)
color: #4D4D4D; (dark grey)
*/

html {
    height: 100%;
}

body {
    height: calc(100vh - 164px);
    background-color: white;
    font-family: 'Raleway', sans-serif;
    color: #808080;
}

.title-font {
    letter-spacing: .1em;
    color: #7E8035;
}

/* from Bulma
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 2rem;
    width: 2rem;
}*/

/* ----------------------------------- Logo and Navbar */

* {
    -webkit-tap-highlight-color: rgba(236, 12, 12, 0) !important; 
    -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important; 
    outline: none !important;
} /* Solved by Cyril! - https://wordpress.org/support/topic/border-around-burger-menu-button/#post-13131740 */


.brand-logo {
    width: 400px;
}

.navbar {
    padding: 1rem 1.5rem;
}    

.nav-item {
    font-size: 1.1em;
    letter-spacing: .2em;
    margin-right: 20px;
}

.nav-link {
    color: #808080;
}

.nav-link:hover {
    color: #8AA0B8;  
}

a.dropdown-item {
    color: #808080;
}

a.dropdown-item:hover {
    color: #8AA0B8;
}

.dropdown-toggle::after {
    content: none;
}

.fa-bars:hover {
    color: #8AA0B8 !important;
}

.shopping-bag-icon {
    padding-bottom: 0;
}

.fa-shopping-bag {
    color: #808080;
}

.fas:hover{
    color: #8AA0B8;  
}

/* -------------------------------- Footer */

.footer {
    padding: 20px;
}

.clear {
    clear: both; height: 60px; 
}

i.fa {
   color: #808080;
}

i.fa:hover {
   color: #8AA0B8;  
}

a:hover {
    text-decoration: none;
}

.social-icon {
    margin-right: 20px;
    margin-left: 20px;
    font-size: 1.2rem;
}

/* -------------------------------- Toast messages */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

.success-olive {
    background-color: #7E8035;
}

.info-blue {
    background-color: #8AA0B8;
}

.error-orange {
    background-color: #FE5F03; 
}

.olive-text {
    color: #7E8035;
}


/* -------------------------------- Product pages */

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}

.product-detail-row {
    padding-top: 70px;
}

.product-details {
    margin-top: 25px;
    padding-left: 30px;
}

.description-text {
    font-size: 15px;
}

/* -------------------------------- Button styles */

.shop-now-button {
    background: #7E8035;
    color: white;
    min-width: 230px;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus {
    background: #8AA0B8;  
    color: white;
}

.border-black {
    border: 1px solid black !important;
}

.return-button {
    background: white;
    color: #808080;
    min-width: 230px;
    display: inline;
    padding: 0;
}

.return-button:hover,
.return-button:active,
.return-button:focus {
    background: white;
    color: #8AA0B8;
}

.fa-arrow-up {
    font-size: 1.5rem;
}

.update-link,
.remove-item {
    cursor: pointer;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }

  .brand-logo {
      width: 500px;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    /*.fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }*/

    .header-container {
        padding-top: 164px;
    }
    
}

/* Mobile and smaller screens */
@media only screen and (max-width: 600px) {
    
    .brand-logo {
        width: 300px;
    }

    .product-details {
    margin-top: 0px;
}
}

/* pad the top a bit when navbar is collapsed on mobile */
/*@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }
}*/
